.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.bg-theme {
    background-color: #055812 !important;
    color: white !important;
}
.text-theme {
    color: #055812 !important;
}
.bg-admin{
    background: url('./assets/admin-img.png') repeat center center;
    background-size: contain;
    background-attachment: fixed;
}
.inner-bg-admin {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)) !important;
}
.bg-sidebar {
  background-color: #081B0E !important;
  color: #FFFFFF !important;
}
.text-cv {
  color: #2F9E5B !important;
}